In [24]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine, MetaData, PrimaryKeyConstraint
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [26]:
csvfiles = "US_Countries_Data.csv"
engine = create_engine("sqlite:///US_Countries_Data.sqlite")
conn = engine.connect()

In [27]:
#  Use SQLAlchemy to model table schema
Base = declarative_base()
class Populations(Base):
    __tablename__ = 'Populations'
    id = Column(Integer, primary_key=True)
    StateName = Column(Text)
    Eritrea = Column(Integer)
    El_Salvador =Column(Integer)
    India = Column(Integer)

In [28]:
Base.metadata.create_all(engine)
metadata = MetaData(bind=engine)
metadata.reflect()

In [29]:
df=pd.read_csv(csvfiles)
Populations_data= df.to_dict(orient='records')
Population_table=sqlalchemy.Table('Populations', metadata, PrimaryKeyConstraint('id'),
                            autoload=True, extend_existing=True)

In [35]:
conn.execute(Population_table.delete())
conn.execute(Population_table.insert(), Populations_data)

In [31]:
df.head()

  Geographic Area Name  Eritrea  El_Salvador   India
0              Alabama       55         2374    9276
1              Arizona     1407         8621   40183
2             Arkansas        0        13514    8282
3           California     6522       437016  486876
4             Colorado     1273         9765   21981

In [33]:
session = Session(bind=engine)